.navbar-expand-lg ,.dropdown-menu{
        background:#000;
}


.fristbg,.secondbg,.thirdbg,.fourthbg{
        height: 90vh;
        background-size: cover !important;
        
}
.fristbg{
background: url(/images/slid1.jpg);
}

.secondbg{
        background: url(/images/slid2.jpg);

}

.thirdbg{
        background: url(/images/slid3.jpg);

}

.fourthbg{
        background: url(/images/slid4.jpg);

}

.text-center .p{
        letter-spacing: 3px;
        color: #777;
        
}

.dev{
height: 50vh;
}


.icons{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
}


.card-body .icons .fa-heart,.fa-cart-shopping{
        font-size: 30px;
color: #777;
}


.text .fs-1,.text-secondary{
        letter-spacing: 3px;
        
}


.daels{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%

}
a{
        color: #fff;
        text-decoration: none;
}

.container h2 .dokan:hover{
color:red;
rotate: 0.5;
}